{
  "openapi": "3.0.1",
  "info": {
    "title": "Swagger Reconness",
    "description": "ReconNess API, all the methods need authorization, for that use <b>/api/Auth/Login</b> method first to obtain the <b>Token</b>. \r\n\r\nAnd then use the <b>Authorize</b> button to insert the <b>Token</b>.",
    "termsOfService": "https://www.reconness.com/terms",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://recon.hiddengearz.com"
    }
  ],
  "paths": {
    "/api/Accounts/notification": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Accounts/saveNotification": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Accounts/latestVersion": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Accounts/currentVersion": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Accounts/logfiles": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Accounts/readLogfile/{logFileSelected}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "logFileSelected",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Accounts/cleanLogfile": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountLogFileDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountLogFileDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountLogFileDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Agents": {
      "get": {
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Agents/{agentName}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Agents/marketplace": {
      "get": {
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Agents/{id}": {
      "put": {
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Agents/install": {
      "post": {
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentMarketplaceDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentMarketplaceDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentMarketplaceDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Agents/debug": {
      "post": {
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDebugDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDebugDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDebugDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Agents/run": {
      "post": {
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRunnerDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRunnerDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRunnerDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Agents/stop": {
      "post": {
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRunnerDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRunnerDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRunnerDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Agents/running/{targetName}/{rootDomainName}/{subdomainName}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootDomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subdomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Auth/Login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialsViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialsViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialsViewModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Labels": {
      "get": {
        "tags": [
          "Labels"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Notes/rootdomain/{targetName}/{rootDomainName}": {
      "post": {
        "tags": [
          "Notes"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootDomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NoteDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Notes/subdomain/{targetName}/{rootDomainName}/{subdomainName}": {
      "post": {
        "tags": [
          "Notes"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootDomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subdomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NoteDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/References": {
      "get": {
        "tags": [
          "References"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "References"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferenceDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferenceDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReferenceDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/References/categories": {
      "get": {
        "tags": [
          "References"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/References/{id}": {
      "delete": {
        "tags": [
          "References"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/RootDomains/{targetName}/{rootDomainName}": {
      "get": {
        "tags": [
          "RootDomains"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootDomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/RootDomains/deleteSubdomians/{targetName}/{rootDomainName}": {
      "delete": {
        "tags": [
          "RootDomains"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootDomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/RootDomains/export/{targetName}/{rootDomainName}": {
      "post": {
        "tags": [
          "RootDomains"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootDomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/RootDomains/uploadSubdomains/{targetName}/{rootDomainName}": {
      "post": {
        "tags": [
          "RootDomains"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootDomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/RootDomains/exportSubdomains/{targetName}/{rootDomainName}": {
      "post": {
        "tags": [
          "RootDomains"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootDomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Subdomains/{targetName}/{rootDomainName}/{subdomainName}": {
      "get": {
        "tags": [
          "Subdomains"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootDomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subdomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Subdomains/GetPaginate/{targetName}/{rootDomainName}": {
      "get": {
        "tags": [
          "Subdomains"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootDomainName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Ascending",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ByColumn",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Subdomains": {
      "post": {
        "tags": [
          "Subdomains"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubdomainDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SubdomainDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SubdomainDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Subdomains/{id}": {
      "put": {
        "tags": [
          "Subdomains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubdomainDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SubdomainDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SubdomainDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Subdomains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Subdomains/label/{id}": {
      "put": {
        "tags": [
          "Subdomains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubdomainLabelDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SubdomainLabelDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SubdomainLabelDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Targets": {
      "get": {
        "tags": [
          "Targets"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Targets"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TargetDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Targets/{targetName}": {
      "get": {
        "tags": [
          "Targets"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Targets"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Targets/{id}": {
      "put": {
        "tags": [
          "Targets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TargetDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Targets/importRootDomain/{targetName}": {
      "post": {
        "tags": [
          "Targets"
        ],
        "parameters": [
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountLogFileDto": {
        "type": "object",
        "properties": {
          "logFileSelected": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AgentDebugDto": {
        "type": "object",
        "properties": {
          "script": {
            "type": "string",
            "nullable": true
          },
          "terminalOutput": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AgentDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "repository": {
            "type": "string",
            "nullable": true
          },
          "command": {
            "type": "string",
            "nullable": true
          },
          "script": {
            "type": "string",
            "nullable": true
          },
          "lastRun": {
            "type": "string",
            "format": "date-time"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "agentType": {
            "type": "string",
            "nullable": true
          },
          "triggerSkipIfRunBefore": {
            "type": "boolean"
          },
          "triggerTargetHasBounty": {
            "type": "boolean"
          },
          "triggerTargetIncExcName": {
            "type": "string",
            "nullable": true
          },
          "triggerTargetName": {
            "type": "string",
            "nullable": true
          },
          "triggerRootdomainHasBounty": {
            "type": "boolean"
          },
          "triggerRootdomainIncExcName": {
            "type": "string",
            "nullable": true
          },
          "triggerRootdomainName": {
            "type": "string",
            "nullable": true
          },
          "triggerSubdomainHasBounty": {
            "type": "boolean"
          },
          "triggerSubdomainIsAlive": {
            "type": "boolean"
          },
          "triggerSubdomainIsMainPortal": {
            "type": "boolean"
          },
          "triggerSubdomainHasHttpOrHttpsOpen": {
            "type": "boolean"
          },
          "triggerSubdomainIncExcName": {
            "type": "string",
            "nullable": true
          },
          "triggerSubdomainName": {
            "type": "string",
            "nullable": true
          },
          "triggerSubdomainIncExcServicePort": {
            "type": "string",
            "nullable": true
          },
          "triggerSubdomainServicePort": {
            "type": "string",
            "nullable": true
          },
          "triggerSubdomainIncExcIP": {
            "type": "string",
            "nullable": true
          },
          "triggerSubdomainIP": {
            "type": "string",
            "nullable": true
          },
          "triggerSubdomainIncExcTechnology": {
            "type": "string",
            "nullable": true
          },
          "triggerSubdomainTechnology": {
            "type": "string",
            "nullable": true
          },
          "triggerSubdomainIncExcLabel": {
            "type": "string",
            "nullable": true
          },
          "triggerSubdomainLabel": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AgentMarketplaceDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "repository": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "command": {
            "type": "string",
            "nullable": true
          },
          "isByTarget": {
            "type": "boolean"
          },
          "isByRootDomain": {
            "type": "boolean"
          },
          "isBySubdomain": {
            "type": "boolean"
          },
          "isByDirectory": {
            "type": "boolean"
          },
          "isByResource": {
            "type": "boolean"
          },
          "scriptUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AgentRunnerDto": {
        "type": "object",
        "properties": {
          "agent": {
            "type": "string",
            "nullable": true
          },
          "command": {
            "type": "string",
            "nullable": true
          },
          "target": {
            "type": "string",
            "nullable": true
          },
          "rootDomain": {
            "type": "string",
            "nullable": true
          },
          "subdomain": {
            "type": "string",
            "nullable": true
          },
          "activateNotification": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CredentialsViewModel": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DirectoryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "uri": {
            "type": "string",
            "nullable": true
          },
          "statusCode": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "string",
            "nullable": true
          },
          "method": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "LabelDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NoteDto": {
        "type": "object",
        "properties": {
          "notes": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NotificationDto": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "nullable": true
          },
          "method": {
            "type": "string",
            "nullable": true
          },
          "payload": {
            "type": "string",
            "nullable": true
          },
          "rootDomainPayload": {
            "type": "string",
            "nullable": true
          },
          "subdomainPayload": {
            "type": "string",
            "nullable": true
          },
          "ipAddressPayload": {
            "type": "string",
            "nullable": true
          },
          "isAlivePayload": {
            "type": "string",
            "nullable": true
          },
          "hasHttpOpenPayload": {
            "type": "string",
            "nullable": true
          },
          "takeoverPayload": {
            "type": "string",
            "nullable": true
          },
          "directoryPayload": {
            "type": "string",
            "nullable": true
          },
          "servicePayload": {
            "type": "string",
            "nullable": true
          },
          "notePayload": {
            "type": "string",
            "nullable": true
          },
          "technologyPayload": {
            "type": "string",
            "nullable": true
          },
          "screenshotPayload": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ReferenceDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "categories": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RootDomainDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "agentsRanBefore": {
            "type": "string",
            "nullable": true
          },
          "subdomains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubdomainDto"
            },
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ServiceDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "port": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "SubdomainDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "target": {
            "type": "string",
            "nullable": true
          },
          "rootDomain": {
            "type": "string",
            "nullable": true
          },
          "ipAddress": {
            "type": "string",
            "nullable": true
          },
          "takeover": {
            "type": "boolean",
            "nullable": true
          },
          "hasHttpOpen": {
            "type": "boolean",
            "nullable": true
          },
          "isMainPortal": {
            "type": "boolean",
            "nullable": true
          },
          "isAlive": {
            "type": "boolean",
            "nullable": true
          },
          "screenshotHttpPNGBase64": {
            "type": "string",
            "nullable": true
          },
          "screenshotHttpsPNGBase64": {
            "type": "string",
            "nullable": true
          },
          "technology": {
            "type": "string",
            "nullable": true
          },
          "agentsRanBefore": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "directories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DirectoryDto"
            },
            "nullable": true
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceDto"
            },
            "nullable": true
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabelDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SubdomainLabelDto": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TargetDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "agentsRanBefore": {
            "type": "string",
            "nullable": true
          },
          "inScope": {
            "type": "string",
            "nullable": true
          },
          "outOfScope": {
            "type": "string",
            "nullable": true
          },
          "bugBountyProgramUrl": {
            "type": "string",
            "nullable": true
          },
          "isPrivate": {
            "type": "boolean"
          },
          "rootDomains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RootDomainDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Enter 'Bearer' [space] and then your valid token in the text input below.\r\n\r\nExample: \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9\"",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": [ ]
    }
  ]
}